body{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

#content{
    padding: 20px;
    background-color: #4090c5;
    
}
#header{
    padding:10px;
    color:#ffffff;
    background-color: #095385;
    border-bottom: 2px solid #0c476e;
    font-size: 13pt;
}

#footer{
    padding:10px;
    color:#ffffff;
    background-color: #095385;
    border-top: 2px solid #0c476e;
    font-size: 10pt;
}